@model LMSBL.DBModels.TblQuiz
@{
    ViewBag.Title = "AddQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddQuiz", "Quiz", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    if (Model.QuizId == 0)
    {
        <h4>Add New Quiz</h4>
    }
    else
    {
        <h4>Edit Quiz</h4>
    }
    <div class="row col-12">
        <hr class="form-divider">
    </div>
    <form class="form-inline">
        <div class="row col-12">
            @Html.HiddenFor(model => model.QuizId)
            @Html.LabelFor(model => model.QuizName, new { @class = "col-3 p-0" })
            @Html.TextBoxFor(model => model.QuizName, new { @class = "col-6 ml-0 form-control" })


            <hr class="form-divider">
        </div>
        <div class="row col-12">
            @Html.LabelFor(model => model.QuizDescription, new { @class = "col-3 p-0" })
            @Html.TextBoxFor(model => model.QuizDescription, new { @class = "col-6 form-control ml-0" })

            <div class="form-group col-3 col-sm-3 col-md-3">
                <a><button type="button" class="btn pl-4 pr-4 text-center btn-warning pull-right">Add Question</button></a>
            </div>
            <hr class="form-divider">
        </div>


        <div class="row col-12" style="margin-bottom: 34px;">
            <div class="col-8">

            </div>
            <div class="col-4">
                <button type="submit" onclick="location.href='@Url.Action("Index", "Quiz")';return false;"
                        class="btn btn-outline-secondary">
                    <b>Cancel</b>
                </button>
                <button type="submit" class="btn btn-outline-secondary"><b>Submit</b></button>
            </div>
        </div>
    </form>
}
