@model List<LMSBL.DBModels.TblTenant>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/_ViewStart.cshtml";
}
<div class="main-container container">
    <div class="row pt-3" style="float:right;">
        @*<div class="col-6 col-sm-6 col-md-6">
                <i class="fa fa-search" aria-hidden="true"></i> <input class="search-box" type="text" placeholder="Search">
            </div>
            <div class="form-inline form-group col-4 col-sm-4 col-md-4">
                <label class="">Company</label>
                <select class="form-control ml-5" id="exampleFormControlSelect1">
                    <option>Select Company</option>
                </select>
            </div>*@
        <div class="form-group col-2 col-sm-2 col-md-2">
            <a href="@Url.Action("AddTenant", "Tenant")"><button type="button" class="btn pl-5 pr-5 text-center btn-warning pull-right">ADD</button></a>
        </div>
    </div>

    <table id="example" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Domain</th>
                <th>Activation From</th>
                <th>Activation To</th>
                <th>Is Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tenent in Model)
            {
                var UrlNew = tenent.TenantDomain +"."+ System.Configuration.ConfigurationManager.AppSettings["BaseURL"];
                <tr>
                    <th>@tenent.TenantId</th>
                    <td>@tenent.TenantName</td>
                    <td><a style="color:blue;" href="@UrlNew" target="_blank">@tenent.TenantDomain</a></td>
                    <td>@tenent.ActivationFrom.Value.ToString("dd-MMM-yyyy")</td>
                    <td>@tenent.ActivationTo.Value.ToString("dd-MMM-yyyy")</td>
                    @if (tenent.IsActive == true)
                    {
                        <td>
                            <i class="fa fa-check" aria-hidden="true" style="color:lightgreen;"></i>
                        </td>
                    }
                    else
                    {
                        <td>
                            <i class="fa fa-times" aria-hidden="true" style="color:red;"></i>
                        </td>
                    }

                    <td>
                        <button type="button" onclick="location.href='@Url.Action("EditTenant", "Tenant",new { id=tenent.TenantId})';return false;"
                                class="btn text-center btn-warning">
                            Edit
                        </button>
                        @*<button type="button" onclick="location.href='@Url.Action("AddCourse", "Courses",new { id = item.CourseId })';return false;"
                                    class="btn  text-center btn-warning">
                                Delete
                            </button>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
