@model List<LMSBL.DBModels.TblUser>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/_ViewStart.cshtml";
}
<body>
    <div class="main-container container">
        <div class="row pt-3" style="float:right;">           
            <div class="form-group col-2 col-sm-2 col-md-2">
                <a href="@Url.Action("AddUser", "User")"><button type="button" class="btn pl-5 pr-5 text-center btn-warning pull-right">ADD</button></a>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User Email</th>
                    <th scope="col">User Role</th>
                    <th scope="col" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    var index = 0;
                    foreach (var user in Model)
                    {
                        index++;
                        <tr>
                            <th scope="row">@index</th>
                            <td>@user.FirstName  @user.LastName</td>

                            <td>@user.EmailId</td>

                            <td>@user.RoleName</td>
                            <td>
                                <a href="@Url.Action("EditUser", "User", new { id = user.UserId })">
                                    <button type="button" class="btn text-center btn-warning">
                                        Edit
                                    </button>
                                </a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</body>